/* for all elements (box) having border lines */
.border-box {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/border */
    /* identital to `border: 2px solid;` */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-width */
    border-width: 2px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/border-style */
    border-style: solid;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
    margin: 10px;
    padding: 10px;
    height: 100px;
}

/* align text center horizontally and vertically */
.center-aligned-text {
    /* to align horizontally centered */
    text-align: center;
    /*
     * to align vertically centered, let it have the same px to height of
     * `.border-box` which is applied commonly to all box elements.
     */
    line-height: 100px;
}

/* horizontally aligned two elements */
.inline-block-item {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/display-legacy */
    /* https://www.w3schools.com/css/css_inline-block.asp */
    /*
     * compared to inline, width/height is allowed.
     * compared to block, line-break is not added after the element.
     */
    display: inline-block;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
    /*
     * 22px comes from `.border-box`'s margin+padding+border-width.
     * 22px has a display problem that the boxes are not placed side by side,
     * instead vertically.
     */
    width: calc(50% - 23px);
}

/* a visible container element having a centered aligned element */
.outer-box {
    /* override height of `.border-box` */
    height: 300px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    /* to be positional parent of inner box */
    position: relative;
}

/* select all elements, descendants of `.outer-box` */
.outer-box .inner-box {
    width: 200px;
    height: 100px;
    background-color: gray;

    /*
     * to place center horizontally and vertically. `position: relative` is a
     * must in parent element.
     */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* end of position related attributes. */
}

.formatted-text {
    font-style: italic;
    font-size: 15px;
    color: aqua;
}
